<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>123203627317-45ufmi41i81ef5iqi5gus8t2hsfgr14a.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.123203627317-45ufmi41i81ef5iqi5gus8t2hsfgr14a</string>
		<key>ANDROID_CLIENT_ID</key>
		<string>123203627317-5ao6vfu6dacklsbhk06am2qcd1h5b604.apps.googleusercontent.com</string>
		<key>API_KEY</key>
		<string>AIzaSyDtwTTOHlIxvAYhIFBILoauOcDk-oGldf0</string>
		<key>GCM_SENDER_ID</key>
		<string>123203627317</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>dvms.iService</string>
		<key>PROJECT_ID</key>
		<string>iservice-customer-2020</string>
		<key>STORAGE_BUCKET</key>
		<string>iservice-customer-2020.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:123203627317:ios:feb1d3f95d5b8a9fcb447c</string>
		<key>DATABASE_URL</key>
		<string>https://iservice-customer-2020-default-rtdb.asia-southeast1.firebasedatabase.app</string>
	</dict>
</plist>